// src/css/style.scss
* {
  margin: 0;padding: 0;box-sizing: border-box;
}
ul,ol {
  list-style: none;
}
body {
  background-color: whitesmoke;
  color: darkslategray;
}
.wrap{
  max-width: 960px;
  margin: 1rem auto;
  .flexslider{
    width: 50%;
    margin: 0 auto;
    border: none;
  }
}

